body{
  background-image: url(image/background.jpg);
  background-position: center;
  background-size: cover;
}


#Result{
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  display: none;
}
#promocode{
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}

#game-container {
    position: relative;
    width: 90vw;
    height: 800px;
    margin: 0 auto;
  }
#spawn-container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  
  #score-container {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
  }
  
  #score-label {
    font-weight: bold;
  }
  
  #bucket {
    position: absolute;
    bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    background-image: url(image/Panier.png);
    background-position: center;
  }

  
  #objects-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .object {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(image/pomme.png);
    background-position: center;
    background-size: 50px;
  }
  
  .object.dangerous {
    background-image: url(image/burger.png);
    background-size: 80px;
  }
  